## ルールベースでやったらいけんじゃね？

In [12]:
import pandas as pd
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")
sub = pd.read_csv("../exp_12/output/submit.csv")

In [61]:
display(sub.head())
pd.read_csv("../data/sample_submission.csv")

     ncode   proba_0   proba_1   proba_2   proba_3   proba_4
0  N0001HE  0.866079  0.129860  0.002978  0.000788  0.000295
1  N0002HE  0.157401  0.818472  0.022052  0.001650  0.000425
2  N0004HF  0.634999  0.348271  0.013423  0.002671  0.000637
3  N0005HE  0.004120  0.023378  0.390884  0.562549  0.019069
4  N0006HF  0.057617  0.595123  0.298361  0.042428  0.006471

        ncode  proba_0  proba_1  proba_2  proba_3  proba_4
0     N4541HD        0        0        0        0        0
1     N4397HD        0        0        0        0        0
2     N4544HD        0        0        0        0        0
3     N4545HD        0        0        0        0        0
4     N4546HD        0        0        0        0        0
...       ...      ...      ...      ...      ...      ...
8517  N5983HF        0        0        0        0        0
8518  N5990HF        0        0        0        0        0
8519  N5993HF        0        0        0        0        0
8520  N5996HF        0        0        0        0        0
8521  N5997HF        0        0        0        0        0

[8522 rows x 6 columns]

In [16]:
train.head(1)

,ncode,general_firstup,title,story,keyword,userid,writer,biggenre,genre,novel_type,end,isstop,isr15,isbl,isgl,iszankoku,istensei,istenni,pc_or_k,fav_novel_cnt_bin
0,N7588B,2007-04-01 16:40:57,暗い窓辺と皇帝の北の宮,※新しく手直ししました。\n\nhttp://ncode.syosetu.com/n2539...,ファンタジー SF 天使 小人 猫,9904,梅田浩志,4,402,1,0,0,0,0,0,0,0,0,0,1

In [14]:
sub.head()

     ncode   proba_0   proba_1   proba_2   proba_3   proba_4
0  N0001HE  0.866079  0.129860  0.002978  0.000788  0.000295
1  N0002HE  0.157401  0.818472  0.022052  0.001650  0.000425
2  N0004HF  0.634999  0.348271  0.013423  0.002671  0.000637
3  N0005HE  0.004120  0.023378  0.390884  0.562549  0.019069
4  N0006HF  0.057617  0.595123  0.298361  0.042428  0.006471

In [59]:
test["ncode"].sort_values()

2267    N0001HE
2268    N0002HE
6201    N0004HF
2269    N0005HE
6202    N0006HF
         ...
6199    N9994HE
2265    N9995HD
2266    N9998HD
2593    N9999HD
6200    N9999HE
Name: ncode, Length: 8522, dtype: object

In [35]:
from collections import Counter
import numpy as np

In [64]:
test = test.sort_values("ncode").reset_index(drop=True)

In [65]:
cnt = 0
ncode_dict = {}
for i, row in test.iterrows():
    if row["writer"] in list(train["writer"]):
        l = [0]*5
        d = {0:0, 1:0, 2:0, 3:0, 4:0} 
        tmp_list = train.query("writer == @row['writer']")["fav_novel_cnt_bin"].to_list()
        for j in tmp_list:
            d[j] += 1
        print(row["writer"], row["ncode"])
        print(len(tmp_list))
        print(np.sum(list(Counter(tmp_list).values())))
        print(d)
        ncode_dict[row["ncode"]] = list(d.values()) / np.sum(list(d.values()))
        cnt+=1
    else:
        ncode_dict[row["ncode"]] = np.nan
    if cnt == 10:
        break
    print("----------")

print(cnt)

ムラカワアオイ N0001HE
38
38
{0: 32, 1: 6, 2: 0, 3: 0, 4: 0}
----------
曲尾　仁庵 N0002HE
27
27
{0: 2, 1: 21, 2: 3, 3: 1, 4: 0}
----------
----------
空 N0005HE
1
1
{0: 1, 1: 0, 2: 0, 3: 0, 4: 0}
----------
蔵前 N0006HF
8
8
{0: 0, 1: 7, 2: 1, 3: 0, 4: 0}
----------
河辺　螢 N0007HE
4
4
{0: 1, 1: 3, 2: 0, 3: 0, 4: 0}
----------
とにあ N0009HE
1
1
{0: 0, 1: 1, 2: 0, 3: 0, 4: 0}
----------
----------
----------
----------
----------
仲仁へび N0016HE
75
75
{0: 64, 1: 8, 2: 3, 3: 0, 4: 0}
----------
----------
----------
----------
澄 N0022HE
33
33
{0: 25, 1: 8, 2: 0, 3: 0, 4: 0}
----------
----------
----------
久野真一 N0025HF
21
21
{0: 0, 1: 3, 2: 12, 3: 6, 4: 0}
----------
古芭白　秋良 N0026HE
5
5
{0: 0, 1: 2, 2: 3, 3: 0, 4: 0}
10

In [66]:
ncode_dict

{'N0001HE': array([0.84210526, 0.15789474, 0.        , 0.        , 0.        ]),
 'N0002HE': array([0.07407407, 0.77777778, 0.11111111, 0.03703704, 0.        ]),
 'N0004HF': nan,
 'N0005HE': array([1., 0., 0., 0., 0.]),
 'N0006HF': array([0.   , 0.875, 0.125, 0.   , 0.   ]),
 'N0007HE': array([0.25, 0.75, 0.  , 0.  , 0.  ]),
 'N0009HE': array([0., 1., 0., 0., 0.]),
 'N0009HF': nan,
 'N0012HE': nan,
 'N0013HF': nan,
 'N0014HF': nan,
 'N0016HE': array([0.85333333, 0.10666667, 0.04      , 0.        , 0.        ]),
 'N0017HE': nan,
 'N0018HF': nan,
 'N0021HF': nan,
 'N0022HE': array([0.75757576, 0.24242424, 0.        , 0.        , 0.        ]),
 'N0024HE': nan,
 'N0025HE': nan,
 'N0025HF': array([0.        , 0.14285714, 0.57142857, 0.28571429, 0.        ]),
 'N0026HE': array([0. , 0.4, 0.6, 0. , 0. ])}

In [56]:
sub

        ncode   proba_0   proba_1   proba_2   proba_3   proba_4
0     N0001HE  0.866079  0.129860  0.002978  0.000788  0.000295
1     N0002HE  0.157401  0.818472  0.022052  0.001650  0.000425
2     N0004HF  0.634999  0.348271  0.013423  0.002671  0.000637
3     N0005HE  0.004120  0.023378  0.390884  0.562549  0.019069
4     N0006HF  0.057617  0.595123  0.298361  0.042428  0.006471
...       ...       ...       ...       ...       ...       ...
8517  N9994HE  0.711996  0.244163  0.037227  0.005440  0.001174
8518  N9995HD  0.758218  0.226984  0.011523  0.002583  0.000692
8519  N9998HD  0.287896  0.465501  0.160729  0.065831  0.020043
8520  N9999HD  0.752529  0.230216  0.012959  0.003527  0.000768
8521  N9999HE  0.685399  0.294060  0.016961  0.002899  0.000681

[8522 rows x 6 columns]